:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(0, 11%, 12%);
}

section {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.card {
  background-color: #fff;
  position: absolute;
  right: 38%;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.card-header {
  background-image: url(./images/bg-pattern-card.svg);
  background-size: cover;
  height: 150px;
}

.card-body {
  padding: 0 20px 10px;
}

.img-holder {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  margin: -50px auto 30px auto;
}

.img-holder img {
  display: block;
  height: auto;
  width: 100%;
}

.name-age {
  font-size: 1rem;
  margin-bottom: 20px;
}
.age,
.city,
.meta {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  opacity: 0.7;
}

.age {
  font-weight: 400;
  margin-left: 9px;
}

.city {
  font-size: 1rem;
  position: relative;
  bottom: 25px;
}

.card-footer {
  border-top: 1px solid hsl(0, 16%, 85%);
  display: flex;
  margin: 0 15px;
}

.card-footer .item {
  flex: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-footer .item .value {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.card-footer .item .meta {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

/* patteran pics in the back*/

.back-pic .pattern1,
.back-pic .pattern2 {
  position: absolute;
  animation: 3s back-pic forwards;
  height: auto;
  width: 700px;
}

.pattern1 {
  position: relative;
  right: 150px;
}

.pattern2 {
  position: relative;
  right: -43%;
}

/*attribution*/

.attribution {
  position: absolute;
  top: 95%;
  right: 84%;
  line-height: 25px;
  margin-bottom: 50px;
}
